@page "/livestream"
@inject IJSRuntime theJavascriptEngine

<h1>Live Streams</h1>


<MudText Typo="Typo.h6">Please select a channel to start the live stream:</MudText>
<div class="d-flex flex-grow-1 gap-3">
    <MudPaper Class="flex-none d-flex py-8 pa-2" Width="50%" Elevation="0">
        <MudSelect FullWidth="true" @bind-Value="@SelectedStream" SelectedValuesChanged="@OnSelctionChangeSetSource" T="string" Label="Available Streams" Variant="Variant.Text">
            <MudSelectItem Value="@("Sky News")" />
            <MudSelectItem Value="@("BBC News")" />
            <MudSelectItem Value="@("OE24")" />
            <MudSelectItem Value="@("Input URL")" />
        </MudSelect>
    </MudPaper>
    @if (linkInputSelected)
    {
        <MudPaper Class="flex-none d-flex py-8 pa-2" Width="30%" Elevation="0">
            <MudInput FullWidth="true" Style="width: 100%" Placeholder="https://www.youtube.com/watch?v=V9KZGs1MtP4" T="string" TextChanged="(input) => ExtractURL(input)"></MudInput>
        </MudPaper>
    }
    <MudPaper Class="flex-initial d-flex py-8 " Width="20%" Elevation="0">
        <MudButton FullWidth="true" Variant="Variant.Filled" Color="Color.Primary" OnClick="() => IFrameVisible = true">Open Stream</MudButton>
    </MudPaper>



</div>
<iframe src="@StreamSource" hidden="@(!IFrameVisible)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

@code{
    private bool IFrameVisible { get; set; } = false;
    private string SelectedStream { get; set; } = "";
    private string StreamSource { get; set; } = "";
    private bool linkInputSelected = false;

    private void OnSelctionChangeSetSource()
    {
        linkInputSelected = false;
        switch (SelectedStream)
        {
            case "Sky News":
                StreamSource = "https://www.youtube.com/embed/WLlKVD4Aqgw";
                break;
            case "BBC News":
                StreamSource = "https://www.youtube.com/embed/w_Ma8oQLmSM";
                break;
            case "OE24":
                StreamSource = "https://www.youtube.com/embed/tlCJHQ8gaoA";
                break;
            case "Input URL":
                StreamSource = "";
                linkInputSelected = true;
                break;
        }
    }

    //convert url to embed url
    private void ExtractURL(string input)
    {
        StreamSource = input.Replace("watch?v=", "embed/");
    }
}